## Global Vars ##
global_id          = "nexus-test"
location           = "uksouth"
public_domain_name = "nexussdev"
admin_username     = "vmuser"

## SSH Key Data
ssh_pub_key     = "path/to/your/key"
ssh_private_key = "path/to/your/key"

## Service Principal Details ##
client_id       = ""
client_secret   = ""
tenant_id       = ""
subscription_id = ""